/* Style */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
    background: linear-gradient(to right, black, rgba(15, 14, 14, 0.9));
}

.list {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
    gap: 5px;
    padding: 10px;
}

.item {
	width: 20%;
	height: 30%;
    overflow: hidden;
}
img {
    transform: scale(103%);
	height: 100%;
	width: 100%;
    object-fit: cover;
}

/* Hover */

