/* Style */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
    background: linear-gradient(to right, rgba(25, 2, 155, 0.4), rgba(30, 2, 134, 0.973));
}
main{
    width: 80vw;
    margin: 0 auto;
}

.list {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
    gap: 5px;
    padding: 10px;
}

.item {
	height: 30%;
    border-radius: 15px;
    overflow: hidden;
}

img {
	height: 100%;
	width: 100%;
    object-fit: cover;
}

/* Hover */

/* Left side */
.list {
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.list .item{
    transition: .5s;
    filter: brightness(0)
}

.list .item:hover {
    filter: brightness(1);
    transform: translateZ(200px);
}

.list .item:hover + * {
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(40deg);
}

.list .item:hover + * + * {
    filter: brightness(0.4);
    transform: translateZ(70px) rotateY(28deg);
}

.list .item:hover + * + * + * {
    filter: brightness(0.2);
    transform: translateZ(30px) rotateY(10deg);
}

/* Right side */
.list .item:has(+ *:hover) {
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(-40deg);
}
.list .item:has(+ * + *:hover) {
    filter: brightness(0.4);
    transform: translateZ(70px) rotateY(-28deg);
}
.list .item:has(+ * + * + *:hover) {
    filter: brightness(0.2);
    transform: translateZ(30px) rotateY(-10deg);
}